<table>
    <tr valign="top">
        <td><img src="{{ post.author.avatar(36) }}"></td>
        <td>{{ post.author.username }} wrote:
            <br>
            {% if post.title %} Title: {{ post.title }}{% endif %}
            <br>
            {{ post.body }}
            <br>
            {% if post.writer %} By : {{ post.writer }}{% endif %}
        </td>
        <td>
            {% if post.image_url %}
            <img src="{{post.image_url}}" alt={{ post.image_name }} width="150" height="150"/>
            {% endif %}
        </td>
    </tr>
    <hr>
</table>